#selection_page {
    background-image: url("https://images.pexels.com/photos/3847490/pexels-photo-3847490.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=375&w=630");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app_header {
    width:100%;
    display: inline-flex;
    flex-direction: row;
}

#instruction1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16pt;
    width: 80%;
    text-align: center;
}


#img_container, img {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
}

#selection_instructions {
    width: 80%;
    font-family: 'Bellota', cursive;
    font-size: 16pt;
    text-align: center;
}

#search {
    font-weight: bolder;
}