html, body {
    margin: 0px;
}

#steps_page {
    background-color: #FFFFFF;
    display:flex;
    flex-direction: column;
    opacity:1;
    transition:opacity 1s, right 1s;
}

#app_header {
    position:relative;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

 /* Brittany: I'm not sure why it happened, but some of the graphics just won't position themselves properly, 
 and they show up in different positions within localhost, and on heroku, so even though I took Henry's advice 
 (making the parent div relative), I copied the SAME css, yet the graphics would sometimes listen, and other times 
 just did it's own thing or wouldn't respond to my changes. I have no explaination for the inconsistency, when I thought 
 I was using the same exact css for all of them (with minor tweaks to fit the space between paragraph's of each recipe steps page.) */
 
#cilantroimg {
    position:absolute;
    width:80px;
    height: auto;
    top: 100px;
    left: 280px;
    transform: rotate(-70deg);
}

#onionimg {
    position:absolute;
    width:80px;
    height: auto;
    top: 580px;
    left: 280px;
    transform: rotate(20deg);
}

.video_container {
    margin-top: 20%;
    position: relative;
    padding-bottom: 56.25%;
    height:0;
}

.video_container iframe {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#recipe_buttons_container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}