.title_container {
    display:inline-flex;
    margin: 0px;
    align-items: center;
    position: absolute;
    left:0px;
    top:330px;
    background-color: #FFFFFF;
    padding: 5px 8px;
    border-radius: 0px 20px 0px 0px;
}

#recipe_img {
    width:40px;
    height: 40px;
    margin-left: 15px;
    margin-right:5px;
}

.recipe_name {
    font-family: 'Bellota', cursive;
}