#header_container {
    margin: 0px;
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo_header {
    width: 250px;
    margin: 10px 10px 10px 40px;
}