.menu {
  display:flex;
  flex-direction: column;
}

.menu_closed {
  background-color:transparent;
  height: 50px;
  width: 100%;
  font-family: 'Bellota', cursive;
  display:inline-flex;
}

.back_icon {
  flex: 1;
  cursor:pointer;
}


.hamImg {
  position: fixed;
  cursor:pointer;
  margin: 0px;
  border-radius: 0px;
}

#back_icon_inner {
  padding-left:10px;
  cursor:pointer;
}

a {
  color: #ffffff;
}

.menu_items{
  display:none;
  position: fixed;
  flex-direction:column;
  background-color: #4797FF;
  align-items: left;
  padding: 25px;
  opacity:0%;
  transition: 0.25s;
  font-family: 'Bellota', cursive;
  width: 100%;
  
}