body, html {
  margin: 0px;
}

.menu {
  display:flex;
  flex-direction: column;
}

.menu_closed {
  background-color:transparent;
  height: 50px;
  width: 100%;
  font-family: 'Bellota', cursive;
  display:inline-flex;
}

.back_icon {
  flex: 1;
  cursor:pointer;
}


.hamImg {
  position: absolute;
  cursor:pointer;
  margin: 10px;
  border-radius: 0px;
}

#back_icon_inner {
  padding-left:10px;
  cursor:pointer;
}

#exit_icon {
  position:absolute;
  top: 4%;
  left: 6%;
  cursor:pointer;
}

a:link {
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

a:visited {
  color:#ffffff;
}

.menu_items{
  display:none;
  position: absolute;
  opacity:1;
  transition:opacity 1s;
  flex-direction:column;
  background-color: #4797FF;
  align-items: left;
  padding: 25px 25px 25px 25px;
  opacity:0%;
  transition: 0.25s;
  font-family: 'Bellota Text', cursive;
  font-size: 18pt;
  width: 75%;
  border-radius: 0px 0px 20px 0px;  
  z-index:10;
}

.menu_items_inner {
  margin: 5% 5% 10% 20%;
}