.custom-select {
    position: relative;
    font-family: Arial;
  }
.custom-select select {
  display: none; 
}
.select-selected {
    background-color:#285aeb;
  }

.select-selected {
    position: absolute;
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
}