body {
  font-family: 'Bellota', cursive;
}

.iphone {
  max-width: 480px;
  margin: auto;
  background-color: #FF8C00;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #FF8C00;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: #FF8C00;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}



.active {
  background-color: #FF8C00;
  color: white;
}