.recipe_container {
    display: flex;
    flex-direction: column;
    width:90%;
}

#recipe_country {
    color: #FF8F3F;
    font-size:14pt;
}

#recipe_time {
    display:inline-flex;
    flex-direction: row;
    align-items: center;
}

#recipe_portion {
    display:inline-flex;
    flex-direction: row;
    align-items: center;
}

#recipe_ingredients {
    display:inline-flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    width:30px;
    height:30px;
    margin-right:10px;
}

.ingredient_item {
    margin-top:1px;
    margin-bottom: 2px;
    font-family: 'Nunito Sans', sans-serif;
}

#ingredients {
    color: #4797FF;
    font-family: 'Bellota Text', cursive;
    font-size: 20pt;
}

.info {
    font-family: 'Nunito Sans', sans-serif;
}
